:root {
    --primary-color: #e50914;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: black;
    color: white;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../img/background.jpg) no-repeat center center/cover;
    padding: 8px 0 0;
    border-bottom: 8px solid #222;
}

.showcase::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 80px 100px 250px #000000, inset -80px -100px 250px #000000;
}

.showcase-top {
    position: relative;
    z-index: 2;
    height: 90px;
}

.showcase-top img {
    width: 170px;
    position: absolute;
    top: 40%;
    left: 4%;
    /* transform: translate(-50%, -50%); */
}

.showcase-top a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

/* input[type=email] {
    width: 100%;
    padding: 500px 250px;
    box-sizing: border-box;
} */

.showcase-content {
    position: relative;
    margin: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    text-align: center;
    margin-top: 130px;
}

.showcase-content h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.1;
    margin: 0 0 1.1rem;
    display: flex;
}

.showcase-content h2 {
    font-weight: 400;
    font-size: 25px;
    margin: 0 0 1.1rem;
}

.showcase-content h3 {
    font-weight: 400;
    font-size: 19px;
    margin: 0 0 1.1rem;
}

/* Utility-class Buttons */

form input {
    box-sizing: border-box;
    height: 60px;
    width: 500px;
    border: 1px solid #8c8c8c;
    padding: 10px 10px;
}

form button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    height: 60px;
    width: 206px;
    background-color: #f40612;
    font-size: 20px;
    border: none;
    color: white;
    padding: 30px 26px;
    justify-content: space-between;
    cursor: pointer;
}

.arrow {
    height: 30px;
    width: 30px;
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;
}


::placeholder {
    font-size: 18px;
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    /* cursor: pointer; */
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 5px;
    font-size: 22px;
    padding: 8px 20px;
    margin: 8px 0 0;
}

.btn-xl {
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    /* text-transform: uppercase; */
}

.btn-lg {
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
    justify-content: center;
    border-bottom: 8px solid #222;
    padding: 30px 100px;
}

.media {
    position: relative;
}

.tv img {
    width: 570px;
    height: 400px;
}

.video {
    position: absolute;
    top: 84px;
    left: 75px;
    z-index: -1;
}

.text h1 {
    font-weight: 600;
    font-size: 2.9rem;
    line-height: 1.1;
    margin: 0 0 1.2rem;
}

.text h2 {
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0 0 1.1rem;
}

.content_2 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
    justify-content: center;
    border-bottom: 8px solid #222;
    padding: 50px 100px;
}

.strange {
    height: 50px;
    width: 70px;
    padding-right: 20px;
}

.download video {
    height: 50px;
    width: 48px;
    margin-left: 65px;

}

.content-download {
    position: absolute;
    display: flex;
    height: 95px;
    width: 350px;
    border: 2px solid #292828;
    padding: 10px;
    background-color: #000000;
    border-radius: 10px;
    top: 340px;
    left: 200px;
    bottom: 21px;
}

span {
    color: #0071EB;
    font-size: 14.4px;
}